src/main/java/com/xavier/webservices/upandrunning/ch02/tsa/clienttsa/tsa.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ch02.tsa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ch02.tsa" name="RevisedTimeServer">
<types>
<xsd:schema>
<xsd:import namespace="http://ch02.tsa" schemaLocation="http://localhost:8888/tsa?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="time_elapsed">
<part name="parameters" element="tns:time_elapsed"></part>
</message>
<message name="time_elapsedResponse">
<part name="parameters" element="tns:time_elapsedResponse"></part>
</message>
<message name="time_string">
<part name="parameters" element="tns:time_string"></part>
</message>
<message name="time_stringResponse">
<part name="parameters" element="tns:time_stringResponse"></part>
</message>
<message name="acceptInput">
<part name="parameters" element="tns:acceptInput"></part>
</message>
<portType name="AnnotatedTimeServer">
<operation name="time_elapsed">
<input wsam:Action="http://ch02.tsa/AnnotatedTimeServer/time_elapsedRequest" message="tns:time_elapsed"></input>
<output wsam:Action="http://ch02.tsa/AnnotatedTimeServer/time_elapsedResponse" message="tns:time_elapsedResponse"></output>
</operation>
<operation name="time_string">
<input wsam:Action="http://ch02.tsa/AnnotatedTimeServer/time_stringRequest" message="tns:time_string"></input>
<output wsam:Action="http://ch02.tsa/AnnotatedTimeServer/time_stringResponse" message="tns:time_stringResponse"></output>
</operation>
<operation name="acceptInput">
<input wsam:Action="http://ch02.tsa/AnnotatedTimeServer/acceptInput" message="tns:acceptInput"></input>
</operation>
</portType>
<binding name="AnnotatedTimeServerPortBinding" type="tns:AnnotatedTimeServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="time_elapsed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="time_string">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="acceptInput">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
</binding>
<service name="RevisedTimeServer">
<port name="AnnotatedTimeServerPort" binding="tns:AnnotatedTimeServerPortBinding">
<soap:address location="http://localhost:8888/tsa"></soap:address>
</port>
</service>
</definitions>